/* global styles */

:root{
    --primary-color: #f0f0f0;
    --primary-bg-color: #101010;

    --primary-accent-color: hsl(160, 100%, 50%);
    --secondary-accent-color: hsl(300, 100%, 50%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: var(--primary-bg-color);
}

/* loaders */
#mainLoader {
    width: 60px;
    height: 60px;
    background-color: hsl(from var(--primary-bg-color) h s l / 0.5);
    background-image: url(../assets/logos/lec_logo_white.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 50%;

    &::after, 
    &::before {
        content: "";
        position: absolute;
        inset: -5px;
        border-radius: 50%;
        z-index: -1;
        border:5px solid var(--primary-accent-color);
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation: spin 5s linear infinite;
    }

    &::after {
        inset: -10px;
        border:5px solid var(--secondary-accent-color);
        border-left-color: transparent;
        border-right-color: transparent;
        animation: spin 5s linear reverse infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}